        html{
            position: relative;
            min-height: 100%;
            margin: 0;
            padding: 0;
        }
        body{
            min-height: 100%;
        }
        * {
            margin: 0;
            padding: 0;
            font-family: 'Do Hyeon', sans-serif;
            /* font-family: 'Kufam', cursive; */
        }
        li{list-style: none;}
        a{text-decoration: none;
        color: black;}
        image{border: none;}
        #header{
            border-bottom: 1px solid black ;
            min-width:min-content;
            margin-bottom: -2px;
            position: sticky;
            left: 0;
            top: 0;
            background-color: white;
            z-index: 9999;
        }
        #header >#header_deco{
            height: 30px;
            text-align: center;
            color: white;
            background-color: darkred;
        }
        #header_deco > p{
            padding-top: 5px;
        }
        #main_header{
            padding-top: 10px;
            min-width: 1140px;
            max-width: 1520px;
            height: 100px;
            margin: 0 auto;
            /* border: 1px solid black ; */
            position: relative;
        }
        #main_header > #header_title{
            max-width: 1520px;
            text-align: center;
            font-size: 40px;
        }
        #header_title > p > a{
            color : black;
        }
        #main_header > #go_home{
            position:absolute;
            top: 10px;
            left: 10px;
            width: 120px;
            height: 40px;
            text-align: center;
            /* border : 1px solid black; */
            align-content: center;
        }
        #main_header > #person_nav{
            position: absolute;
            right: 10px;
            top: 10px;
        }
        #person_nav > ul{
            overflow: hidden;
        }
        #person_nav > ul > li{
            float: left;
        }
        #person_nav > ul > li > a{
            padding: 3px 10px ;
            display: block;
            /* border: 2px solid black; */
            font-size: 15px;
            text-align: center;
        }
        #main_header > #main_gnb{
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -269px;
        }
        #main_gnb > ul{
            overflow: hidden;
        }
        #main_gnb > ul > li{
            float: left;
        }
        #main_gnb > ul > li > a{
            color: black;
            margin: 0 20px;
            padding: 5px 5px;
            display: block;
            /* border: 2px solid black; */
            text-align: center;
            font-size: 15px;
        }
        #main_gnb > ul > li > a:hover{
            padding-bottom: 2px;
            border-bottom: 3px solid black;
        }
        #contents{
            min-width: min-content;
            position: relative;
        }
        #contents> #dropdown_menu {
            position: fixed;
            top: 141px;
            left: 0;
            height: 90px;
            min-width: 100%;
            border-bottom:2px solid black ;
            background-color: white;
            z-index: 800;
            display: none;
        }
        #dropdown_menu > div { /*menu_item1,2,3,4,*/
            margin: 0 auto;
            padding-top: 10px;
            width: 557px;
            height: 70px;
            position: absolute;
            top :0;
            left: 50%;
            margin-left: -578px;
            z-index: -100;
            padding-left: 300px;
            padding-right: 300px;
            background-color: white;
        }
        #dropdown_menu > div >div >p>a {
            font-size: 13px;
            color: black;
        }
        #menu_item1 > #intro_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 34px;
            display: none;
        }
        #menu_item2 > #business_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 130px;
            display: none;
        }
        #menu_item3 > #shop_items{
            padding-top: 5px;
            width: 250px;
            float: left;
            padding-left: 225px;
            display: none;
        }
        #shop_items > p {
            float: left;
            margin-right: 20px;
        }
        #menu_item4 > #cs_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 474px;
            display: none;
        }
/* ///////////////////////////////////////////////////////// */
        #main_contents{
            min-width: 1140px;
            max-width: 1520px;
            /* height: 1500px; */
            overflow:auto;
            margin: 0 auto;
            /* border: 1px solid black ; */
            position: relative;
            margin-bottom: 200px;
        }
        #main_contents> #payment_contents{
            /* border : 1px solid black; */
            width: 90%;
            padding-top: 50px;
            margin: 0 auto;
        }
        #main_contents> #payment_contents> #payment_title{
            /* border : 1px solid black; */
            width: 100%;
        }
        #main_contents> #payment_contents> #payment_title>p{
            font-size: 50px;
            color: darkred;
            text-align: center;
        }
        div.payment_title_txt{
            width: 100%;
            height: 30px;
            border-bottom: 3px solid #444444 ;
        }
        div.payment_title_txt>div{
            width: 90%;
            margin: 0 auto;
            font-size: 25px;
        }
        #main_contents> #payment_contents>form> #payment_cart{
            /* border : 1px solid black; */
            margin-top: 50px;
            border-bottom: 3px solid #444444 ;  
        }
        #payment_contents> form>#payment_cart>#payment_contents_box{
            width: 90%;
            margin: 0 auto;
        }
        #payment_contents> form>#payment_cart>#payment_contents_box>div.payment_cart_table{
            width: 100%;
            margin: 0 auto;
            margin: 20px 0;
            overflow: auto;
        }
        #payment_contents> form>#payment_cart>#payment_contents_box>div.payment_cart_table>table{
            width: 100%;
            border-collapse: collapse;
        }
        tr.table_cart_header{
            height: 30px;
            text-align: center;
            letter-spacing: 10px;
        }
        tr.table_cart_header>td.table_cart_contents1{
            width: 70px;
            border-bottom: 2px solid black ;  
        }
        tr.table_cart_header>td.table_cart_contents2{
            width: 110px;
            border-bottom: 2px solid black ;  
        }
        tr.table_cart_header>td.table_cart_contents3{
            width: 70%;
            border-bottom: 2px solid black ;  
        }
        tr.table_cart_header>td.table_cart_contents4{
            width: 100px;
            border-bottom: 2px solid black ;  
        }
        tr.table_cart_header>td.table_cart_contents5{
            border-bottom: 2px solid black ;  
        }
        tr.table_cart_body_contents{
            height: 30px;
            text-align: center;
        }
        tr.table_cart_body_contents>td.table_cart_contents1{
            width: 70px;
            border-bottom: 1px solid #888888 ;  
        }
        tr.table_cart_body_contents>td.table_cart_contents2{
            width: 110px;
            border-bottom: 1px solid #888888 ; 
            padding-top:5px;
        }
        tr.table_cart_body_contents>td.table_cart_contents3{
            width: 70%;
            border-bottom: 1px solid #888888 ; 
        }
        tr.table_cart_body_contents>td.table_cart_contents4{
            width: 100px;
            border-bottom: 1px solid #888888 ; 
        }
        tr.table_cart_body_contents>td.table_cart_contents5{
            border-bottom: 1px solid #888888 ; 
        }
        tr.table_cart_total{
            height: 40px;
            text-align: center;
        }
        tr.table_cart_total>td.table_cart_content_big{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            height: 30px;
            letter-spacing: 30px;
        }
        tr.table_cart_total>td.table_cart_contents4{
            width: 100px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
        tr.table_cart_total>td.table_cart_contents5{
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }
/* ///////////////////////////////////////////////////////////////////// */
        #main_contents>#payment_contents> form>#payment_receiver_info{
            /* border : 1px solid black; */
            margin-top: 30px;
            border-bottom: 3px solid #444444 ;
        }
        #payment_contents>form>#payment_receiver_info>#payment_contents_box{
            margin: 0 auto;
            width: 90%;
        }
        #payment_receiver_info>#payment_contents_box>div.payment_table>table{
            border-collapse: collapse;
            width: 100%;
        }
        tr.table_rows1 > td.table_col1{
            line-height: 30px;
            width: 150px;
            border-bottom: 1px solid #777777;
            padding: 10px 0;
        }
        tr.table_rows1 > td.table_col2{
            line-height: 30px;
            padding: 10px 0;
            border-bottom: 1px solid #777777;
        }
        tr.table_rows2 > td.table_col1{
            line-height: 30px;
            width: 150px;
            border-bottom: 1px solid #777777;
            padding: 10px 0;
        }
        tr.table_rows2 > td.table_col2{
            line-height: 30px;
            padding: 10px 0;
            border-bottom: 1px solid #777777;
        }
        tr.table_rows3 > td.table_col1{
            line-height: 30px;
            width: 150px;
            padding: 10px 0;
        }
        tr.table_rows3 > td.table_col2{
            line-height: 30px;
            padding: 10px 0;
        }
        td.table_col2>p>input{ /*input tag 높이, 넓이는 인라인으로 결정*/
            height: 25px;
        }
        #main_contents>#payment_contents>form> #payment_method{
            /* border : 1px solid black; */
            margin-top: 50px;
            border-bottom: 3px solid #444444 ;
        }
        #payment_contents>form>#payment_method>#payment_contents_box{
            margin: 0 auto;
            width: 90%;
        }
        #payment_method>#payment_contents_box>div.payment_table{
            width: fit-content;
            margin: 0 auto;
            overflow: auto;
        }
        #payment_contents_box>div.payment_table>input.how_pay{
            display: none;
        }
        #payment_contents_box>div.payment_table>input.pay{
            padding: 10px 20px;
            background-color: black;
            color: white;
            border: none;
            margin: 20px 50px;
            height: 40px;
        }
        #main_contents>#payment_contents>form>#payment_ok{
            /* border : 1px solid black; */
            margin-top: 30px;
        }
        #payment_ok>div{
            width: fit-content;
            margin: 0 auto;
        }
        #payment_ok>div>input{
            padding: 10px 30px;
            font-size: 30px;
            color: white;
            background-color: black;
            border: none;
            margin-top: 30px;
        } /* 최종 결정 버튼*/

        /* ///////////////////////////////////////////// */
        #footer {
            min-width: 100%;
            position: absolute;
            background-color: black;
            left: 0;
            bottom:0;
            /* border: 1px solid black; */
        }
        #footer > #main_footer{
            min-width: 1140px;
            max-width: 1520px;
            height: 100px;
            margin: 0 auto;
            background-color: black;
            color: white;
            /* border: 1px solid black ; */
            position: relative;
        }
        #main_footer > #sub_info{
            width: 500px;
            height: 100px;
            margin-left: 20px;
        }
        #sub_info > #sub_link{
            margin-top: 20px;
        }
        #sub_info > #sub_link > ul{
            overflow: hidden;
        }
        #sub_link > ul > li{
            float: left;
        }
        #sub_link > ul > li > a {
            padding :0 20px ;
            display: inline;
            color: white;
        }
        #sub_link > ul > li:nth-child(2) > a{
            border-left: 2px solid white;
            border-right: 2px solid white;
        }
        p.subinfo_text{
            margin-left: 20px;
        }
        #main_footer > #footer_title{
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 40px;
        }