 html{
            position: relative;
            min-height: 100%;
            margin: 0;
            padding: 0;
        }
        body{
            min-height: 100%;
        }
        * {
            margin: 0;
            padding: 0;
            font-family: 'Do Hyeon', sans-serif;
            /* font-family: 'Kufam', cursive; */
        }
        li{list-style: none;}
        a{text-decoration: none;
        color: black;}
        image{border: none;}
        #header{
            border-bottom: 1px solid black ;
            min-width:min-content;
            margin-bottom: -2px;
            position: sticky;
            left: 0;
            top: 0;
            background-color: white;
            z-index: 9999;
        }
        #header >#header_deco{
            height: 30px;
            text-align: center;
            color: white;
            background-color: darkred;
        }
        #header_deco > p{
            padding-top: 5px;
        }
        #main_header{
            padding-top: 10px;
            min-width: 1140px;
            max-width: 1520px;
            height: 100px;
            margin: 0 auto;
            /* border: 1px solid black ; */
            position: relative;
        }
        #main_header > #header_title{
            max-width: 1520px;
            text-align: center;
            font-size: 40px;
        }
        #header_title > p > a{
            color : black;
        }
        #main_header > #go_home{
            position:absolute;
            top: 10px;
            left: 10px;
            width: 120px;
            height: 40px;
            text-align: center;
            /* border : 1px solid black; */
            align-content: center;
        }
        #main_header > #person_nav{
            position: absolute;
            right: 10px;
            top: 10px;
        }
        #person_nav > ul{
            overflow: hidden;
        }
        #person_nav > ul > li{
            float: left;
        }
        #person_nav > ul > li > a{
            padding: 3px 10px ;
            display: block;
            /* border: 2px solid black; */
            font-size: 15px;
            text-align: center;
        }
        #main_header > #main_gnb{
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -269px;
        }
        #main_gnb > ul{
            overflow: hidden;
        }
        #main_gnb > ul > li{
            float: left;
        }
        #main_gnb > ul > li > a{
            color: black;
            margin: 0 20px;
            padding: 5px 5px;
            display: block;
            /* border: 2px solid black; */
            text-align: center;
            font-size: 15px;
        }
        #main_gnb > ul > li > a:hover{
            padding-bottom: 2px;
            border-bottom: 3px solid black;
        }
        #contents{
            min-width: min-content;
            position: relative;
        }
        #contents> #dropdown_menu {
            position: fixed;
            top: 141px;
            left: 0;
            height: 90px;
            min-width: 100%;
            border-bottom:2px solid black ;
            background-color: white;
            z-index: 800;
            display: none;
        }
        #dropdown_menu > div { /*menu_item1,2,3,4,*/
            margin: 0 auto;
            padding-top: 10px;
            width: 557px;
            height: 70px;
            position: absolute;
            top :0;
            left: 50%;
            margin-left: -578px;
            z-index: -100;
            padding-left: 300px;
            padding-right: 300px;
            background-color: white;
        }
        #dropdown_menu > div >div >p>a {
            font-size: 13px;
            color: black;
        }
        #menu_item1 > #intro_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 34px;
            display: none;
        }
        #menu_item2 > #business_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 130px;
            display: none;
        }
        #menu_item3 > #shop_items{
            padding-top: 5px;
            width: 250px;
            float: left;
            padding-left: 225px;
            display: none;
        }
        #shop_items > p {
            float: left;
            margin-right: 20px;
        }
        #menu_item4 > #cs_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 474px;
            display: none;
        }
/* ///////////////////////////////////////////////////////// */
        #main_contents{
            min-width: 1140px;
            max-width: 1520px;
            padding-bottom: 200px;
            margin: 0 auto;
            overflow: visible;
            /* border: 1px solid black ; */
            position: relative;
        }
        #main_contents>#contents_top{
            overflow: hidden;
        }
        #main_contents >#contents_top> #contents_left{
            height :370px;
            width: 45%;
            padding: 20px;
            margin: 20px 0;
            overflow: hidden;
            float: left;
            /* border: 1px solid black; */
        }
        #main_contents >#contents_top> #contents_left>#product_image{
            float: right;
            /* border: 1px solid black; */
        }
        #contents_left>#product_image>#product_image_item{
            /* border: 1px solid black; */
            width: 300px;
            height: 300px;
            margin: 0 auto;
        }
        #contents_left>#product_image>#product_image_item>a>img{
            width: 300px;
            height: 300px;
        }
        #contents_left>#product_image>#product_image_select{
            /* border: 1px solid black; */
            width: max-content;
            height: 30px;
            margin: 0 auto;
            vertical-align: middle;
        }
        #main_contents >#contents_top> #contents_right{
            height :370px;
            width: 45%;
            padding: 20px;
            margin: 20px 0;
            overflow: hidden;
            float: right;
            /* border: 1px solid black; */
        }
        #main_contents>#contents_top> #contents_right>#product_contents{
            /* border: 1px solid black; */
            height: 330px;
            margin: 0 auto;
            position: relative;
        }
        #main_contents>#contents_top> #contents_right>#product_contents>form>p{
            margin-top: 10px;
        }
        #main_contents>#contents_top> #contents_right>#product_contents>form>p.prod_tag{
            /* border: 1px solid black; */
            color: #555555;
        }
        #main_contents>#contents_top> #contents_right>#product_contents>form>p.prod_name{
            /* border: 1px solid black; */
            font-size: 20px;
        }
        #main_contents>#contents_top> #contents_right>#product_contents>form>p.prod_review{
            /* border: 1px solid black; */
            color: darkred;
            display:inline;
        }
        #main_contents>#contents_top> #contents_right>#product_contents>form>p.prod_price{
            /* border: 1px solid black; */
            font-size: 25px;
        }
        #main_contents>#contents_top> #contents_right>#product_contents>form>select.prod_cnt{
            /* border: 1px solid black; */
            font-size: 20px;
            padding: 4px 20px;
            margin-top: 30px;
            vertical-align: bottom;
            position: absolute;
            bottom: 0;
        }
        #main_contents>#contents_top> #contents_right>#product_contents>form>input.prod_cart_btn{
            width: 350px;
            /* border: 1px solid black; */
            font-size: 19px;
            padding: 2px 10px;
            background-color: black;
            color: white;
            position: absolute;
            bottom: 0;
            left: 80px;
            border : none;
        }
        #main_contents>#contents_bottom{
            width: 1200px;
            margin: 0 auto;
            /* border: 1px solid black; */
            border-top: 3px solid #888888;
        }
        #main_contents>#contents_bottom>#product_detail_info{
            margin: 0 auto;
            width: 950px;
            /* border: 1px solid black; */
            margin-top: 30px;
            margin-bottom: 30px;
            overflow: visible;
        }
        /* ///////////////////////////////////////////// */
        #footer {
            min-width: 100%;
            position: absolute;
            background-color: black;
            left: 0;
            bottom:0;
            /* border: 1px solid black; */
        }
        #footer > #main_footer{
            min-width: 1140px;
            max-width: 1520px;
            height: 100px;
            margin: 0 auto;
            background-color: black;
            color: white;
            /* border: 1px solid black ; */
            position: relative;
        }
        #main_footer > #sub_info{
            width: 500px;
            height: 100px;
            margin-left: 20px;
        }
        #sub_info > #sub_link{
            margin-top: 20px;
        }
        #sub_info > #sub_link > ul{
            overflow: hidden;
        }
        #sub_link > ul > li{
            float: left;
        }
        #sub_link > ul > li > a {
            padding :0 20px ;
            display: inline;
            color: white;
        }
        #sub_link > ul > li:nth-child(2) > a{
            border-left: 2px solid white;
            border-right: 2px solid white;
        }
        p.subinfo_text{
            margin-left: 20px;
        }
        #main_footer > #footer_title{
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 40px;
        }