html{
            position: relative;
            min-height: 100%;
            margin: 0;
            padding: 0;
        }
        body{
            min-height: 100%;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: 'Do Hyeon', sans-serif;
            /* font-family: 'Kufam', cursive; */
        }
        li{list-style: none;}
        a{text-decoration: none;
        color: black;}
        image{border: none;}
        #header{
            border-bottom: 1px solid black ;
            min-width:min-content;
            margin-bottom: -2px;
            position: sticky;
            left: 0;
            top: 0;
            background-color: white;
            z-index: 9999;
            letter-spacing: -1px;
        }
        #header >#header_deco{
            height: 30px;
            text-align: center;
            color: white;
            background-color: darkred;
        }
        #header_deco > p{
            padding-top: 5px;
        }
        #main_header{
            padding-top: 10px;
            min-width: 1140px;
            max-width: 1520px;
            height: 100px;
            margin: 0 auto;
            /* border: 1px solid black ; */
            position: relative;
        }
        #main_header > #header_title{
            max-width: 1520px;
            text-align: center;
            font-size: 40px;
        }
        #header_title > p > a{
            color : black;
        }
        #main_header > #go_home{
            position:absolute;
            top: 10px;
            left: 10px;
            width: 120px;
            height: 40px;
            text-align: center;
            /* border : 1px solid black; */
            align-content: center;
        }
        #main_header > #person_nav{
            position: absolute;
            right: 10px;
            top: 10px;
        }
        #person_nav > ul{
            overflow: hidden;
        }
        #person_nav > ul > li{
            float: left;
        }
        #person_nav > ul > li > a{
            padding: 3px 10px ;
            display: block;
            /* border: 2px solid black; */
            font-size: 15px;
            text-align: center;
        }
        #main_header > #main_gnb{
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -269px;
        }
        #main_gnb > ul{
            overflow: hidden;
        }
        #main_gnb > ul > li{
            float: left;
        }
        #main_gnb > ul > li > a{
            color: black;
            margin: 0 20px;
            padding: 5px 5px;
            display: block;
            /* border: 2px solid black; */
            text-align: center;
            font-size: 15px;
        }
        #main_gnb > ul > li > a:hover{
            padding-bottom: 2px;
            border-bottom: 3px solid black;
        }
        /**********************************contents*************************************/
        #contents{
            min-width: min-content;
            position: relative;
            
        }
        #contents> #dropdown_menu {
            position: fixed;
            top: 141px;
            left: 0;
            height: 90px;
            min-width: 100%;
            border-bottom:1px solid black ;
            background-color: white;
            z-index: 800;
            display: none;
        }
        #dropdown_menu > div { /*menu_item1,2,3,4,*/
            margin: 0 auto;
            padding-top: 10px;
            width: 557px;
            height: 70px;
            position: absolute;
            top :0;
            left: 50%;
            margin-left: -578px;
            z-index: -100;
            padding-left: 300px;
            padding-right: 300px;
            background-color: white;
        }
        #dropdown_menu > div >div >p>a {
            font-size: 13px;
            color: black;
        }
        #menu_item1 > #intro_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 34px;
            display: none;
        }
        #menu_item2 > #business_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 130px;
            display: none;
        }
        #menu_item3 > #shop_items{
            padding-top: 5px;
            width: 250px;
            float: left;
            padding-left: 225px;
            display: none;
        }
        #shop_items > p {
            float: left;
            margin-right: 20px;
        }
        #menu_item4 > #cs_items{
            padding-top: 5px;
            width: 100px;
            float: left;
            padding-left: 474px;
            display: none;
        }
        #main_contents{
            min-width: 1140px;
            max-width: 1520px;
            /* height: 1800px; */
            margin: 0 auto;
            /* border: 1px solid black ; */
            /* position: relative; */
            vertical-align: middle;
            overflow:auto;
            margin-bottom : 300px;
        }
        #main_contents > #intro_contents_left{
            width: 15%;
            height: 100%; 
            /* border: 1px solid black; */
            float: left;
            margin: 20px;
        }
        #intro_contents_left > #left_nav{
            width: 100%;
            height: 800px;
            /* border: 1px solid black; */
        }
        #intro_contents_left>#left_nav> ul {
            overflow: hidden;
        }
        #intro_contents_left>#left_nav>ul>li{
            width: 100%;
            height: 40px;
            border-bottom: 1px solid #888888;
            padding-left: 20px;
            vertical-align: text-bottom;
            font-size: 13px;
        }
        #intro_contents_left>#left_nav>ul>li:first-child{
            border-bottom: 2px solid #333333;
            font-size: 16px;
        }
        #intro_contents_left>#left_nav>ul>li>a{
            letter-spacing: 2px;
            line-height:40px;
        }
        #main_contents > #intro_contents_right{
            width:78%;
            height: 100%;
            float: right;
            /* border: 1px solid black;  */
            margin: 20px;
            margin-left: 0px;
        }
        #main_contents > #intro_contents_right> #shop_title{
            margin-top:10px ;
            margin-bottom:20px ;
        }
        #main_contents > #intro_contents_right> #shop_title>p{
            display: inline;
            font-size: 16px;
            font-weight: bold;
            border: 2px solid black;
            padding: 8px 20px;
        }
        #main_contents>#shop_main_item>img{
            width: 100%;
            height: 230px;
        }
        #intro_contents_right>#shop_item_list{
            width: 100%;
        }
        #intro_contents_right>#shop_item_list>#shop_contents{
            width: 100%;
            /* height: 1150px; */
            /* border: 1px solid black; */
            margin : 0 auto;
            margin-top: 20px; 
            overflow: auto;
        }
        #intro_contents_right>#shop_item_list>#shop_contents>#shop_contents_itemview{
            width: 33%;
            height: 350px;
            /* border: 1px solid black; */
            margin: 20px 0px;
            float: left;
        }
        #intro_contents_right>#shop_item_list>#shop_contents>#shop_contents_itemview > #shop_item{
            width: 230px;
            height: 330px;
            margin: 0 auto;
            /* border:1px solid black; */
            text-align: center;
        }
        #shop_contents_itemview >#shop_item > a {
            display: block;
        }
        #shop_contents_itemview >#shop_item > a >img{
            width:230px;
            height:230px;
        }
        #shop_contents_itemview >#shop_item > a > #item_info{
            width: 100%;
            height: 100px;
            overflow: hidden;
            padding-top: 5px;
        }
        #shop_contents_itemview >#shop_item > a >#item_info > p.product_name{
            font-size : 15px;
            color: #333333;
            margin: 3px 0px;
            display: block;
        }
        #shop_contents_itemview >#shop_item > a >#item_info > p.product_price{
            font-size : 18px;
            color:black;
            margin: 3px 0px;
            display: block;
        }
        #shop_contents_itemview >#shop_item > a >#item_info > p.product_review{
            font-size : 20px;
            color: darkred;
            display:inline;
            
        }
        #intro_contents_right>#shop_item_list>#shop_item_pagenum{
            text-align: right;
            padding-right: 7%;
            margin-top: 20px;
        }
        #intro_contents_right>#shop_item_list>#shop_item_pagenum>span{
            margin : 0px 5px;
        }
        #intro_contents_right>#shop_item_list>#shop_item_pagenum>span>a{
            color:black;
        }
        

        /**********************************footer*************************************/
        #footer {
            min-width: 100%;
            position: absolute;
            background-color: black;
            left: 0;
            bottom:0;
            /* border: 1px solid black; */
        }
        #footer > #main_footer{
            min-width: 1140px;
            max-width: 1520px;
            height: 100px;
            margin: 0 auto;
            background-color: black;
            color: white;
            /* border: 1px solid black ; */
            position: relative;
        }
        #main_footer > #sub_info{
            width: 500px;
            height: 100px;
            margin-left: 20px;
        }
        #sub_info > #sub_link{
            margin-top: 20px;
        }
        #sub_info > #sub_link > ul{
            overflow: hidden;
        }
        #sub_link > ul > li{
            float: left;
        }
        #sub_link > ul > li > a {
            padding :0 20px ;
            display: inline;
            color: white;
        }
        #sub_link > ul > li:nth-child(2) > a{
            border-left: 2px solid white;
            border-right: 2px solid white;
        }
        p.subinfo_text{
            margin-left: 20px;
        }
        #main_footer > #footer_title{
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 40px;
        }